{{log 'DGNS-ego-tracker-template' this}}
<form>
    <table>
        <tr>
            <th class="ego-tracker-label">Character</th>
            <th class="ego-tracker-label">Ego</th>
        </tr>
        {{#each data}}
        <tr data-token-id="{{token.tokenId}}">
            <th class="ego-tracker-character-name">{{token.name}}</th>
            <th>
                <div class="ego-tracker-diamond-row" data-target="{{actor.id}}">
                {{#each spentEgo as |diamond index|}} 
                    {{#if diamond.filled}}
                    <a class="diamond" data-index="{{index}}"
                        ><div class="square black"></div
                    ></a>
                    {{else}}
                    <a class="diamond" data-index="{{index}}"
                        ><div class="square"></div
                    ></a>
                    {{/if}} 
                {{/each}}
                </div>
            </th>
        </tr>
        {{/each}}
    </table>
    <div class="ego-tracker-initiative-roll">
        <i class="fas fa-dice"></i>
    </div>
</form>